# Build artifacts
bin/
obj/

# MonoGame content pipeline outputs
**/*.xnb
**/Content/bin/

# Android Studio
android-studio/.gradle/
android-studio/.idea/
android-studio/**/build/
android-studio/gradle.properties
android-studio/gradlew
android-studio/gradlew.bat
android-studio/gradle/wrapper/
android-studio/local.properties
android-studio/app/src/main/assets/
android-studio/key.properties
android-studio/app/release/
android-studio/app/**/*.aab
android-studio/app/**/app-release/**
android-studio/app/**/app-release-*/**

# IntelliJ / Android Studio project files
*.iml
.idea/

# Keystores
*.keystore

# Xcode
ios-xcode/DerivedData/
*.xcuserstate
*.xcuserdata
