<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="gltron.org.gltronmobile" android:versionCode="2" android:versionName="2.0">
  <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="36" />
  
  <!-- FNA requires OpenGL ES 3.0 -->
  <uses-feature android:glEsVersion="0x00030000" android:required="true" />
  
  <!-- FNA permissions -->
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
  <application 
    android:label="GLTron Mobile" 
    android:icon="@drawable/icon"
    android:allowBackup="true"
    android:hardwareAccelerated="true"
    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
    
    <activity 
      android:name="gltron.org.gltronmobile.Activity1"
      android:label="GLTron Mobile"
      android:screenOrientation="sensorLandscape"
      android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
      android:launchMode="singleInstance"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    
  </application>
</manifest>
